{% extends "Reservas/base.html" %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="mb-0">Agregar Evaluaciones Disponibles</h1>
          </div>
          <div class="card-body">
            <form action="" method="POST" class="form">
              {% csrf_token %}
              {% bootstrap_form form field_cols='col-sm-6' %}
              <hr>
              <div class="d-flex justify-content-between">
                <button type="submit" class="m-4 btn btn-success btn">AGREGAR</button>
                {% if request.user.is_staff or request.user.is_superuser %}
                  <a href="{% url 'Examen_u' %}" class="m-4 btn btn-danger btn">VER TODAS LAS EVALUACIONES</a>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
