

{% extends "Reservas/base.html" %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
 
</head>
<body>
  

  {% block content %}
  <h1>Agregar Examinadores</h1>
<div class="form-group">  
  <div class="">
    <form action="" method="POST" class="form-group">
            
        {% csrf_token %}
        {% bootstrap_form form field_cols='col-sm-6' %}      
        <hr>  
    <div class="d-grid gap-2 col-6 mx-auto ">    
    <input  href="ui1.html"   type="submit" value="AGREGAR EXAMINADOR" class="m-4 btn btn-success btn ">
    </div>
    </form>
 
  
</div>
  
  {% endblock %}
</div>
</div>
</body>
</html>

   <!---{{form}}
        
          <button type="button" class="btn btn-warning">Ver</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
       <button  type="button" class=" btn btn-secondary btn-lg">Agregar </button>
        -->